@import './variables.scss';

.hero {
  position: absolute;
  top: $cameraHeight / 2 - $heroHeight / 2;
  left: $cameraWidth / 2 - $heroWidth / 2;
  width: $heroWidth;
  height: $heroHeight;
  overflow: hidden;

  img {
    position: absolute;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &.facingNorth {
      left: -208px;
      top: -525px;

      &.alternateTrue {
        left: -400px;
      }
    }

    &.facingEast {
      left: -207px;
      top: -715px;

      &.alternateTrue {
        left: -400px;
      }
    }

    &.facingWest {
      left: -209px;
      top: -587px;

      &.alternateTrue {
        left: -400px;
      }
    }

    &.facingSouth {
      left: -208px;
      top: -651px;

      &.alternateTrue {
        left: -400px;
      }
    }
  }
}
