$size: 50px;

.hero {
  color: green;
  width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;
  text-align: center;
  vertical-align: middle;

  &.facingNorth {
    transform: rotate(0deg);
  }

  &.facingEast {
    transform: rotate(90deg);
  }

  &.facingWest {
    transform: rotate(-90deg);
  }

  &.facingSouth {
    transform: rotate(180deg);
  }
}
