@import './reset.scss';

@import './hero.scss';
@import './map.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.container {
  position: relative;
}

.debug-model {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: #eee;
}
