@import './reset.scss';

@import './hero.scss';
@import './map.scss';

* {
  box-sizing: border-box;
}

body {
  background: white;
}

.container {
  position: relative;

  width: 512px;
  height: 512px;
  margin: 20px auto;
}

.debug-model {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: #eee;
}
