@import './reset.scss';

@import './hero.scss';
@import './world.scss';

* {
  box-sizing: border-box;
}

.container {
  position: relative;

  width: 500px;
  height: 500px;
  margin: 20px auto;
}

.debug-model {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: #eee;
}
