@import './variables.scss';

.map {
  position: relative;
  width: 100%;
  height: 100%;

  .tile {
    position: absolute;
    width: 64px;
    height: 64px;
    overflow: hidden;

    img {
      position: absolute;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      &.Grass { left: 0; }
      &.Mud { left: -64px; }
      &.Tree { left: -128px; }
      &.TreeTop { left: -192px; }
      &.Bush { left: -256px; }
      &.Empty { left: -999px; }
    }
  }
}
