@import './variables.scss';

$size: 64px;
$tiles: 8;

.map {
  width: $size * $tiles;
  height: $size * $tiles;

  .row {
    width: $size * $tiles;
    height: $size;

    .tile {
      width: $size;
      height: $size;

    }
  }
}
